<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/tim11
        </property>
        <property name="connection.username">
                EtfSI2015
        </property>
        <property name="connection.password">
                2015SIEtf
        </property>
        
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property> 
        
        <!-- OVAKO DODAVATI OVE MAPINGE I DOPINGE  -->
        <mapping resource="BaseDbModel.hbm.xml"></mapping>
        
        <mapping resource="DokumentDbModel.hbm.xml"></mapping>
        <mapping resource="DokumentVerzijaDbModel.hbm.xml"></mapping>
        <mapping resource="DokumentVerzijaStatusDbModel.hbm.xml"></mapping>
        <mapping resource="FolderDbModel.hbm.xml"></mapping>
        <mapping resource="FolderXGrupaDbModel.hbm.xml"></mapping>
        <mapping resource="GrupaDbModel.hbm.xml"></mapping>
        <mapping resource="GrupaXKorisnikDbModel.hbm.xml"></mapping>
        <mapping resource="KomentarDbModel.hbm.xml"></mapping>
        <mapping resource="KorisnikDbModel.hbm.xml"></mapping>
        <mapping resource="KorisnikPozicijaDbModel.hbm.xml"></mapping>
        <mapping resource="KorisnikTipDbModel.hbm.xml"></mapping>
        <mapping resource="ZahtjevDbModel.hbm.xml"></mapping>
        <mapping resource="ZahtjevStatusDbModel.hbm.xml"></mapping>
        <mapping resource="ZahtjevTipDbModel.hbm.xml"></mapping>
        
    </session-factory>
</hibernate-configuration>
