<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/dms
        </property>
        <property name="connection.username">
                root
        </property>
        <property name="connection.password">
                root
        </property>
        
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        
        <!-- OVAKO DODAVATI OVE MAPINGE I DOPINGE  -->
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/BaseDbModel.hbm.xml"></mapping>
        
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/DokumentDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/DokumentVerzijaDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/DokumentVerzijaStatusDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/FolderDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/FolderXGrupaDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/GrupaDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/GrupaXKorisnikDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/KomentarDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/KorisnikDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/KorisnikPozicijaDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/KorisnikTipDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/ZahtjevDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/ZahtjevStatusDbModel.hbm.xml"></mapping>
        <mapping resource="ba/unsa/etf/si/tim11/dbmodels/ZahtjevTipDbModel.hbm.xml"></mapping>
        
    </session-factory>
</hibernate-configuration>
